.logo {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 830px;
  height: 100px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  padding: 10px;
}

#koreatech {
  width: 50px;
  height: 60px;
  object-fit: cover;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

#baram {
  max-width: 90px;
  max-height: 90px;
  object-fit: cover;
  animation: rotation 2s infinite linear;
  animation-play-state: paused;
  align-self: inherit;
}
