#progressBars {
  width: 750px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.progressBar {
  width: 750px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: flex;
  position: relative;
}

.progressBar__time {
  background-color: black;
  opacity: 0.6;
  height: 180px;
  width: 750px;
  position: relative;
  top: -180px;
}

.progressBar {
  height: 30px;
  display: flex;
}

.progressBar__process {
  /* background-color: blue; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gantt_table {
  width: 850px;
  height: 210px;
  border: 1px solid black;
}

.gantt_table__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.gantt_table__top-left {
  width: 100px;
  border-right: 1px solid black;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.gantt_table__top-right {
  width: 750px;
  height: 180px;
}

.gantt_table__bottom {
  padding-left: 100px;
  display: flex;
}

.processor_show__table table {
  width: 850px;
}

.ready_queue {
  height: 60px;
  width: 850px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
}

.ready_queue__name {
  width: 100px;
  font-weight: 700;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ready_queue__show {
  width: 750px;
  border-left: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

/* .progressBar__process {
  transition: all 0.5s ease-in-out;
}

.progressBar__process:hover {
  height: 40px;
} */

#progressBar__processP1 {
  background-color: #eb4d4b;
}
#progressBar__processP2 {
  background-color: #ff7979;
}
#progressBar__processP3 {
  background-color: #f0932b;
}
#progressBar__processP4 {
  background-color: #ffbe76;
}
#progressBar__processP5 {
  background-color: #f9ca24;
}
#progressBar__processP6 {
  background-color: #f6e58d;
}
#progressBar__processP7 {
  background-color: #6ab04c;
}
#progressBar__processP8 {
  background-color: #badc58;
}
#progressBar__processP9 {
  background-color: #c7ecee;
}
#progressBar__processP10 {
  background-color: #95afc0;
}
#progressBar__processP11 {
  background-color: #22a6b3;
}
#progressBar__processP12 {
  background-color: #7ed6df;
}
#progressBar__processP13 {
  background-color: #be2edd;
}
#progressBar__processP14 {
  background-color: #4834d4;
}
#progressBar__processP15 {
  background-color: #686de0;
}
#progressBar__processP16 {
  background-color: #535c68;
}
