#progressBars {
  width: 750px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.progressBar {
  width: 750px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: flex;
  position: relative;
}

@keyframes leftmargin {
  0% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0%;
  }
}
.progressBar__time {
  background-color: white;
  /* opacity: 0.6; */
  height: 180px;
  width: 750px;
  position: relative;
  top: -180px;
}

.progressBar {
  height: 30px;
  display: flex;
}

.progressBar__process {
  /* background-color: blue; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gantt_table {
  width: 850px;
  height: 210px;
  border: 1px solid black;
}

.gantt_table__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.gantt_table__top-left {
  width: 100px;
  border-right: 1px solid black;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.gantt_table__top-right {
  width: 750px;
  height: 180px;
}

.gantt_table__bottom {
  padding-left: 100px;
  display: flex;
}

.processor_show__table table {
  width: 850px;
}

.ready_queue {
  height: 60px;
  width: 850px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
}

.ready_queue__name {
  width: 100px;
  font-weight: 700;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ready_queue__show {
  width: 750px;
  border-left: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.readyQueue__process {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

.progressBar__process {
  font-size: 13px;
  font-weight: 600;
}
#progressBar__processP1,
#P1 {
  background-color: #f08c8c;
}
#progressBar__processP2,
#P2 {
  background-color: #bf82bf;
}
#progressBar__processP3,
#P3 {
  background-color: #ff7f50;
}
#progressBar__processP4,
#P4 {
  background-color: #8c8cbe;
}
#progressBar__processP5,
#P5 {
  background-color: #f9ca24;
}
#progressBar__processP6,
#P6 {
  background-color: #6fcc98;
}
#progressBar__processP7,
#P7 {
  background-color: #f6e58d;
}
#progressBar__processP8,
#P8 {
  background-color: #badc58;
}
#progressBar__processP9,
#P9 {
  background-color: #c7ecee;
}
#progressBar__processP10,
#P10 {
  background-color: #95afc0;
}
#progressBar__processP11,
#P11 {
  background-color: #22a6b3;
}
#progressBar__processP12,
#P12 {
  background-color: #7ed6df;
}
#progressBar__processP13,
#P13 {
  background-color: #ff91dc;
}
#progressBar__processP14,
#P14 {
  background-color: #6e9fed;
}
#progressBar__processP15,
#P15 {
  background-color: #a0a0ff;
}
#progressBar__processP16,
#P16 {
  background-color: #a0a0a0;
}
