@import 'input.css';
@import 'logo.css';
@import 'output.css';

body {  
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simulator {
  width: 850px;
}

table tr {
  text-align: center;
}

table {
  margin: 10px 0px;
}