@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');
@import "input.css";
@import "logo.css";
@import "output.css";
@import "bttn.css";

body {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

.simulator {
  width: 850px;
  background-color: #F5F5F7;
  padding: 5px 20px 20px 20px;
  border-radius: 10px;
  border : 3px solid black;
}

table tr {
  text-align: center;
}

table {
  margin: 10px 0px;
  border : none;
}

*{
  font-family: 'Antonio', sans-serif;
}
