@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "input.css";
@import "logo.css";
@import "output.css";
@import "bttn.css";

body {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

.simulator {
  width: 850px;
}

table tr {
  text-align: center;
}

table {
  margin: 10px 0px;
}
