table {
  width: 850px;
}

table tr {
  text-align: center;
}

#input-table input {
  border: none;
  width: 90%;
}

#progressBars {
  width: 850px;
  background: rgb(189, 177, 177);
}

progressBar {
  width: 0;
  height: 50px;
  background: rgb(225, 149, 240);
  color: #fff;
  text-align: center;
  line-height: 50px;
}
