body {
  margin-left: 20px;
}

table {
  width: 850px;
}

table tr {
  text-align: center;
}

#input-table input {
  border: none;
  width: 90%;
}

.processor-input__column {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

table {
  margin: 10px 0px;
}

/* #progressBars {
  width: 850px;
  background: rgb(189, 177, 177);
} */

#progressBar {
  width: 0;
  height: 50px;
  background: rgb(225, 149, 240);
  text-align: center;
  line-height: 50px;
}

.gantt_table {
  width: 850px;
  height: 210px;
  border: 1px solid black;
}

.gantt_table__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.gantt_table__top-left {
  width: 100px;
  border-right: 1px solid black;
}

.gantt_table__top-right {
  width: 750px;
  height: 180px;
}

.gantt_table__bottom {
  padding-left: 100px;
  display: flex;
  justify-content: space-around;
}
